{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Présentation de l'école ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/OXO-test2/src/Controller/PresentationController.php'|file_link(0) }}">src/Controller/PresentationController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/OXO-test2/templates/presentation/index.html.twig'|file_link(0) }}">templates/presentation/index.html.twig</a></code></li>
    </ul>
    <h1>LA PREMIÈRE FORMATION JEU VIDÉO DE L'AUDE</h1>

    <p>L’univers et la conception de jeux vidéo vous passionnent ? Faites-en votre métier ! Conception graphique, Game Design, Sound Design, OXO propose une formation professionnelle complète à Narbonne.

        Pionnière, l’École Occitane du Jeu Vidéo initie une pédagogie concertée bienveillante, dans un cadre d’étude privilégié.</p>

    <h2>TRAVAILLER DANS UN STUDIO DE JEU</h2>

    <p>La France est l’un des pays qui produit le plus de jeux au monde après des géants comme la Chine, les USA et le Japon. Des centaines de studios français emploient plus de 20 000 personnes. Ce marché, en pleine croissance et durable, recrute dans un secteur à très haute valeur technologique.

        À la fois artistes et ingénieurs, les professionnel·le·s du jeu vidéo impressionnent d’autres secteurs d’activité par leur passion, leur engagement et leur compétence.

        Bien qu’il soit très attractif, le milieu des studios de jeux vidéo demeure une industrie compétitive. C’est pourquoi il est impératif d’être bien préparé en suivant une formation spécifique et adaptée.

        OXO s’y engage, car faire de sa passion un métier est possible.</p>
</div>
{% endblock %}
