{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> LA PRÉPA CRÉATION JEU VIDÉO✅</h1>

    <h2>UNE ANNÉE POUR ACQUÉRIR LES BASES</h2>
    <p>Les étudiant·e·s découvrent les fondamentaux des métiers créatifs numériques au travers d’ateliers centrés sur l’expression personnelle. L’école OXO s’assure que chacun·e possède les compétences de base (expression orale et écrite, en français et en anglais, maîtrise de l’outil informatique, assiduité)  afin d’assurer l’homogénéité entre les étudiant·e·s. qui poursuivent le cursus du Bachelor.

        L’école OXO délivre au terme de l’année une attestation de parcours de classe prépa.</p>
    <h1> LE BACHELOR CRÉATION JEU VIDÉO✅</h1>
    <h2>UNE FORMATION COMPLÈTE</h2>
    <p>OXO propose dès 2023 une formation en trois ans. Contrairement aux propositions concurrentes qui spécialisent dès la première année, notre Bachelor permet de découvrir l’ensemble des métiers et d’être capable de créer des jeux de A à Z.

        “Nous ne formons pas un graphiste avec une spécialité jeu vidéo, mais un créateur de jeux avec une spécialité graphiste.”

        Nous pensons que c’est précisément cet atout, cette compréhension globale, qui leur permet de se démarquer et d’intéresser les studios.</p>
    <h3>ANNEE 1</h3>
    <p>Les étudiant·e·s apprennent à maîtriser les bases de la création de jeux vidéo : communiquer, s’organiser, et travailler en équipe, les moteurs de jeu comme Unity et Unreal Engine, les règles du jeu, les graphismes et la création sonore, du concept initial aux assets utilisés dans le jeu. L’école s’assure de leur apporter une solide culture artistique, scientifique, et vidéoludique.</p>
    <h3>ANNEE 2</h3>
    <p>Les étudiant·e·s choisissent un corps de métier parmi les trois dont ils ont appris les bases : game design & développement, graphisme 2D & 3D, ou sound design. Ils se consacrent à temps plein à l’apprentissage de ce métier en concevant de multiples projets où chacun·e occupe un poste spécialisé, ainsi que des cours en très petit comité dans des conditions d’apprentissage optimales.</p>
    <h3>ANNEE 3</h3>
    <p>Les étudiant·e·s se consacrent entièrement au développement d’un projet de fin d’études. Réalisé en équipe pluri-métiers, et accompagné par l’équipe pédagogique, ce projet les confronte à un contexte de production similaire à celui de l’industrie du jeu vidéo et les prépare à leur intégration professionnelle. L’année se termine par l’évaluation du projet par un jury professionnel ainsi qu’un stage de fin d’études de 6 mois.</p>
</div>
{% endblock %}
